@tailwind base;
@tailwind components;
@tailwind utilities;




.chrome-picker div .flexbox-fix:nth-child(2) {
    display: none !important;
}

.chrome-picker div .flexbox-fix:first-child > *:nth-child(2) > *:nth-child(2) {
    display: none !important;
}

.chrome-picker div .flexbox-fix:first-child > *:nth-child(2) > *:nth-child(1) {
    height: 15px !important;
}


.splide-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
}

.splide-wrapper .splide {
  height: 100%;
}

.splide-wrapper .splide__track {
  height: 100%;

}

.splide-wrapper .splide__list {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  max-width: 100vw;
  min-width: 60vw;
}

.splide-wrapper .splide__slide {
  height: 90%;
  margin: 10px;
}