@tailwind base;
@tailwind components;
@tailwind utilities;




.chrome-picker div .flexbox-fix:nth-child(2) {
    display: none !important;
}

.chrome-picker div .flexbox-fix:first-child > *:nth-child(2) > *:nth-child(2) {
    display: none !important;
}

.chrome-picker div .flexbox-fix:first-child > *:nth-child(2) > *:nth-child(1) {
    height: 15px !important;
}


.splide-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items at the start of the flex container */
    width: calc(80vw); /* Adjust the width to account for the sidebar width */
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .splide-wrapper .splide {
    height: 100%;
  }
  
  .splide-wrapper .splide__track {
    height: 100%;
  }
  
  .splide-wrapper .splide__list {
    width: calc(80vw - 120px);
    height: 100%;
    align-items: center;
    display: flex;
  }
  
  .splide__slide {
    width: calc(50% - 10px);
    height: 90%;
    margin: 10px;
  }