/* .marker {
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  } */

  .map-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70vh;
  }
  
  #map {
    /* width: 100vw;
    height: 70vh;
    position: absolute;
    top: 0; */
    width: 100%;
    height: 100%;
  }
  
  .memory-controlls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 100px;
  }

.search-box {
    padding-right: 200px;
}

.search-box input{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.memory-controlls a {
    padding-left: 200px;
}
  

#memory-button{
    width: 400px;
}

/* .marker {
    background-color: blue;
    width: 20px;
    height: 20px;
} */

.popup-non-visable{
  background-color: blue;
    display: none;
}


.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.6);
  }
  

  .modal-sizing {
    min-height: 300px;
    height: fit-content;
    
  }


  /* Modal inputs */

  .input-group-lg {
    display: flex;
    align-items: center;
  }
  
  .input-group-prepend {
    flex-shrink: 0;
  }
  
  .input-group-text {
    height: 100%;
  }

  .input-group {
    display: flex;
    align-items: center;
  }
/* Modal Inputs */




/* New Styled stuff */

#home-textArea{
  height: 120px;
}

.custom-modal-footer {
  display: flex;
  height: 100%;
  border-top: 1px rgb(230, 230, 230) solid;
  padding-top: 10px;
}

.custom-modal-footer button {
  flex: 1;
  height: 50px;
  border-radius: 0;
}

#right-button{
  border-bottom-right-radius: 7px;
}

#left-button{
  border-bottom-left-radius:7px;
}

#modalDataTitle{
  font-size: 40px;
}

#modalDataBody{
  font-size: 20px;
}

.map-styles-selector{
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgb(33,37,41);
  border-bottom-right-radius: 8px;
  
  z-index: 100;
}

.map-styles-selector button{
  border-radius: 0;
}

/* Cards */

.memory-card{
  border-radius: 10px;
}

.col-text {
  padding: 10px
}

.col-buttons button{
  border-radius: 0;
}

#leftmost-card{
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}

#rightmost-card{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

