.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(194, 194, 194);
  }

  .wrapper section{
    padding: 100px;
    border-radius: 100px;
    background-color: rgb(146, 146, 146);
  }

  .form-group{
    background-color: rgb(114, 114, 114);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
  }

  .form-group button{
    width: 100%;
    margin-top: 5px;
  }


  .other-option{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email-password .form-group{
    height: 44%;
  }
  

  